* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Commissioner";
  background-color: whitesmoke;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 1.5rem 0rem;
  line-height: 1.6;
  color: #7a7a7a;
}

li {
  list-style: none;
}

button {
  font-family: "Commissioner";
  cursor: pointer;
  border: none;
  background: none;
}

hr {
  border: none;
  background-color: #b3b3b359;
  height: 1px;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
}

header {
  position: relative;
  color: white;
}

header img {
  width: 100%;
}

nav {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #00000080), to(#ffffff00));
  background-image: linear-gradient(#00000080 10%, #ffffff00);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 5%;
  z-index: 1;
}

.logo {
  margin-right: auto;
}

.desktop-nav {
  display: none;
}

.nav-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  width: 90%;
  max-width: 650px;
  margin: auto;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(68, 68, 68, 0.089);
          box-shadow: 0px 0px 1px 1px rgba(68, 68, 68, 0.089);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.bookmark-section {
  text-align: center;
  position: relative;
}

.bookmark-section img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -30px;
}

.bookmark-section i {
  color: #7a7a7a;
  padding: 1rem;
  border-radius: 50%;
  background-color: #212121;
  font-size: 1rem;
}

.bookmark-btn span {
  display: none;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

h1 {
  margin-top: 2rem;
}

.main-btn {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  color: white;
  background-color: #3cb4ac;
}

.states-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: #7a7a7a;
}

.states-section ul span {
  line-height: 1.6;
  display: block;
  font-weight: bold;
  color: black;
  font-size: 2rem;
}

.states-section ul hr {
  width: 30%;
  margin: auto;
  border: none;
  background-color: #b3b3b359;
  height: 1px;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  margin-top: 2rem;
  height: 0.9rem;
}

progress::-webkit-progress-bar {
  background-color: gainsboro;
  border-radius: 30px;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background-color: #3cb4ac;
  border-radius: 30px;
}

.pladge__title {
  line-height: 2;
}

.pladge__title span {
  color: #3cb4ac;
  font-weight: bold;
}

.pladge__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  line-height: 1.6;
  color: #7a7a7a;
}

.pladge__left strong {
  font-size: 2rem;
  color: black;
}

.out-of-stock {
  opacity: 0.5;
}

.out-of-stock .main-btn {
  background-color: #7a7a7a;
}

.mobile-nav-container {
  position: absolute;
  background-color: #00000047;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobile-nav {
  background-color: white;
  width: 90%;
  margin: 6rem auto;
  border-radius: 10px;
  font-weight: 700;
}

.mobile-nav li {
  padding: 1.5rem;
}

.mobile-nav hr {
  width: 100%;
}

.modal-overlay {
  position: absolute;
  background-color: #00000070;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pladges-section-modal {
  margin-top: 10rem;
  width: 95%;
  max-width: 700px;
}

.pladges-section-modal h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pladges-section-modal h2 i {
  color: #7a7a7a;
}

.pladges-section-modal hr {
  margin: 1rem 0rem;
}

.pladge-card-modal-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.radio-btn,
.radio-btn-js {
  margin-top: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-btn input,
.radio-btn-js input {
  display: none;
}

.check {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3cb4ac;
  display: none;
}

.radio-btn-js input:checked + .check {
  display: inline-block;
}

.pladge-complete {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin-top: 10rem;
}

.enter-pladge {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pladge__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.pladge__inputs input {
  width: 30%;
  padding: 1rem;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid gray;
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
  .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  .nav-btn {
    display: none !important;
  }
  .btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bookmark-btn {
    background-color: whitesmoke;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
  }
  .bookmark-btn span {
    display: inline-block;
    font-weight: bold;
    color: #7a7a7a;
  }
  .states-section ul {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .states-section ul hr {
    width: 10%;
    margin: 0;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  .flex-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-split-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .enter-pladge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pladge__inputs {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.bookmarked i {
  color: white;
  background-color: #3cb4ac;
}

.bookmarked span {
  display: none;
}

.bookmarked::after {
  content: "Bookmarked";
  color: #3cb4ac;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.selected {
  border: 2px solid #3cb4ac;
}
